@model HangoverHunt.Hunt
@{
    ViewBag.Title = "Manage Hunt";
}
<h2>
    Manage Hunt</h2>
<label for="hunt-state">
    State</label>
<input id="hunt-state" readonly="readonly" value="@Model.State" disabled="disabled" />
<h3>
    Current Riddles</h3>
<table>
    <thead>
        <tr>
            <th>
                Question
            </th>
            <th>
                Answered
            </th>
        </tr>
    </thead>
    @foreach (var riddleState in Model.RiddleStates)
    {
        <tr>
            <td>
                @riddleState.Question
            </td>
            <td>
                @Html.CheckBox("answered", riddleState.Answered, new { disabled = "disabled" })
            </td>
        </tr>
    }
</table>
<h3>
    Add riddle</h3>
<ul>
    <li>@Html.ActionLink("Add exact text riddle", "AddExactRiddle")</li>
    <li>@Html.ActionLink("Add location riddle", "AddLocationRiddle")</li>
</ul>
